* {
    font-family: 'Arial';
    margin: 0px;
    padding: 0px;
}
.product_container {
    display: flex;
    max-width: 100%;
}
.product_info_container {
    display: flex;
    justify-content: center;
}
.product_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    max-width: 40%;
    border-radius: 2px;
    margin: 10px;
} 

body {
    background-color: rgb(196, 196, 196);
    height: 100%;
}

.product_img {
    max-width: 200px;
    max-height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button_main {
    background-color: rgb(0, 206, 0);
    border: 0;
    padding: 5px;
}

.button_main:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.align_bottom {
    vertical-align: bottom;
    position: relative;
}
.product_title {
    margin: 0px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0px;
    margin-left: 5px;
}

.product_price {
    margin: 0px;
    margin-top: 5px;
    color:rgb(87, 87, 87);
    margin-right: 5px;
    padding: 0px;
    margin-left: 5px;
    border-bottom: 1px solid black;
}

.user_container {
    display: flex;
    justify-content: center;
}

.user_div {
    margin-top: 20px;
    background-color: white;
    justify-content: center;
    padding: 10px;
}

.header_text {
    margin: 0px;
    padding: 0px;
}

.header_div {
    max-height: 50px;
    border-bottom: 5px solid black;
    background-color: white;
}

.header_right {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.header_span {
    display: inline-block;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cart_div {
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 600px;
    min-height: 20px;
    max-width: 1000px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    display: block;
}
.cart_info {
    margin-left: 10px;
    display: block;
}

.cart_image {
    max-height: 50px;
    float:right;
}
.cart_remove {
    padding-top: 15px;
    float: right;
}
.info {
    background: rgb(94, 177, 255);
    color: black;
}
.error {
    background: rgb(255, 66, 66);
    color: black;
}
.cart_desc {
    display: inline-block;
    padding-top: 15px;
}

.cart_price {
    display:inline-block;
    position: absolute;
    margin-left: 30%;
}

.cart_product {
    min-height: 50px;
    max-height: 50px;
    border-top: 1px solid black;
}